<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CodeJamAndKickStart2020/src/kickStart/bucket.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kickStart.bucket"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CodeJamAndKickStart2020"/>
</launchConfiguration>
